ion-icon.greenButton {
    color: green;
    font-size: 24px;
}
ion-icon.redButton {
    color: red;
    font-size: 24px;
}
ion-icon.orangeButton {
    color: orange;
    font-size: 24px;
}
ion-segment {
    --background: transparent;
    margin-top: 5px;
}