<ion-content>
  <ion-segment value="all" (ionChange)="filterBy($event)" mode="md" slot="fixed">
    <ion-segment-button value="all">
      <ion-icon name="infinite-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="0">
      <ion-icon name="happy-outline" class="greenButton"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-icon name="sad-outline" class="orangeButton"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-icon name="skull-outline" class="redButton"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-list class="ion-no-padding">
    <ion-item detail="true" detail-icon="caret-forward-circle" [routerLink]="'../detail/' + item.id"
      *ngFor="let item of (items$|async)?.slice(min, max)">
      <ion-thumbnail [className]="'ion-no-margin ion-color-' + (item?.level|color)">
        {{item.id}}
      </ion-thumbnail>
      <ion-label class="ion-padding-start">
        <ion-text>
          <h3>{{item.name}}</h3>
        </ion-text>
        <ion-text>
          <p>{{item.type}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>